{% extends 'layouts/default.html' %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-5">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="panel-title text-center font-bold">
						Computer 
					</div>
				</div>
				<div class="panel-body">
					<div class="well well-sm">
						<div class="text-center">
							<h2 class="font-bold computer-score">0</h2>
						</div>
					</div>
					<div class="text-center">
						<img class="image-responsive image-computer img-thumbnail no-border"
							src="{{ url_for('static', filename = 'img/icons/spock.png') }}"
							width="250"/>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="panel panel-default no-border no-background no-shadow">
				<div class="panel-body text-center">
					<button class="play btn btn-success text-uppercase font-bold">Play</button>
					<button class="mouse-mode btn btn-success text-uppercase font-bold">Mouse Mode</button>
					<h1 class="font-bold counter"></h1>
				</div>
			</div>
		</div>
		<div class="col-md-5">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="panel-title text-center font-bold">
						Human
					</div>
				</div>
				<div class="panel-body">
					<div class="well well-sm">
						<div class="text-center">
							<h2 class="font-bold player-score">0</h2>
						</div>
					</div>
					<div class="text-center">
						<img class="videostream image-responsive img-thumbnail no-border"
							src="{{ url_for('videostream') }}"
							width="300"/>
						<h4 class="gesture-text text-uppercase font-bold"></h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
<script src="https://unpkg.com/notie"></script>
<script>
var images = [
	'rock', 'paper', 'scissor', 'lizard', 'spock'
]

function startCounter(counter, callback) {
	$('.counter').html(counter);
	console.log($('.counter').html());

	if ( counter == 0 ) {
		callback()
	} else {
		setTimeout(function ( ) {
			counter = counter - 1;
			startCounter(counter, callback)
		}, 1000);

		
	}
}

var computerScore = 0
var playerScore = 0

var lookup = {
	"rock-rock": "tie",
	"rock-paper": "lose",
	"rock-scissor": "win",
	"rock-lizard": "win",
	"rock-spock": "lose",
	"paper-rock": "win",
	"paper-paper": "tie",
	"paper-scissor": "lose",
	"paper-lizard": "lose",
	"paper-spock": "win",
	"scissor-rock": "lose",
	"scissor-paper": "win",
	"scissor-scissor": "tie",
	"scissor-lizard": "win",
	"scissor-spock": "lose",
	"lizard-rock": "lose",
	"lizard-paper": "win",
	"lizard-scissor": "lose",
	"lizard-lizard": "tie",
	"lizard-spock": "win",
	"spock-rock": "win",
	"spock-paper": "lose",
	"spock-scissor": "win",
	"spock-lizard": "lose",
	"spock-spock": "tie"
}

$(document).ready(function() {
	$('.mouse-mode').click(function ( ) {
		$.post('/position', function (response) {
			
		});
	});

	$('.play').click(function () {
		var counter = 3;

		startCounter(counter, function () {
			$.post('/detect', function (response) {
				response = JSON.parse(response)
				gesture  = response.type
				var rand = images[Math.floor(Math.random() * images.length)];
				$('.image-computer').attr('src', '/assets/img/icons/' + rand + '.png');
				console.log(rand + "-" + gesture)
				var result = lookup[rand + "-" + gesture]

				console.log(result);
				
				if (result == "win") {
					notie.alert({ text: 'Sorry, you lose.', type: 3 })
					computerScore = computerScore + 1;
					$('.computer-score').html(computerScore);
				}
				else if (result == "tie") {
					notie.alert({ text: "Whoops! It's a tie.", type: 4 })
				}
				else if (result == "lose") {
					notie.alert({ text: 'Hurray! You have won.', type: 1 });
					playerScore = playerScore + 1;
					$('.player-score').html(playerScore);
				}

				setTimeout(function ( ) {
					$('.play').click();
				}, 2000);

			});
		});
	});

	setInterval(function ( ) {
		$.post('/detect', function (response) {
			response = JSON.parse(response)
			gesture  = response.type
			$('.gesture-text').html(gesture)
		});
	}, 100);
});


</script>

{% endblock %}