{% extends 'layouts/default.html' %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-5">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="panel-title text-center font-bold">
						Player
					</div>
				</div>
				<div class="panel-body">
					<div class="well well-sm">
						<div class="text-center">
							<h2 class="font-bold">0</h2>
						</div>
					</div>
					<div class="text-center">
						<img class="image-responsive img-thumbnail no-border"
							src="{{ url_for('static', filename = 'img/icons/spock.png') }}"
							width="200"/>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="panel panel-default no-border no-background no-shadow">
				<div class="panel-body text-center">
					<button class="btn btn-success text-uppercase font-bold">Play</button>
					<h1 class="font-bold">3</h1>
				</div>
			</div>
		</div>
		<div class="col-md-5">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="panel-title text-center font-bold">
						Player
					</div>
				</div>
				<div class="panel-body">
					<div class="well well-sm">
						<div class="text-center">
							<h2 class="font-bold">0</h2>
						</div>
					</div>
					<div class="text-center">
						<img class="image-responsive img-thumbnail no-border"
							src="{{ url_for('videostream') }}"
							width="200"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}